<h1>Listing relationships</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Parent entry id</th>
      <th>Child entry id</th>
      <th>Type id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.ID %></td>
        <td><%= relationship.Parent_Entry_ID %></td>
        <td><%= relationship.Child_Entry_ID %></td>
        <td><%= relationship.Type_ID %></td>
        <td><%= link_to 'Show', relationship %></td>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationship', new_relationship_path %>
