<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @relationship.ID %>
</p>

<p>
  <strong>Parent entry id:</strong>
  <%= @relationship.Parent_Entry_ID %>
</p>

<p>
  <strong>Child entry id:</strong>
  <%= @relationship.Child_Entry_ID %>
</p>

<p>
  <strong>Type id:</strong>
  <%= @relationship.Type_ID %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
